<!DOCTYPE html>
<html>
<head>
  <title>RottenMangoes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value) %>
  <% end %>
<%= yield %>
<%= render 'layouts/footer' %>



  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-12">
  			<ul class="breadcrumb">
  				<li>
  					<a href="#">Home</a> <span class="divider">/</span>
  				</li>
  				<li>
  					<a href="#">Library</a> <span class="divider">/</span>
  				</li>
  				<li class="active">
  					Data
  				</li>
  			</ul>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-8">
  			<h3>
  				h3. Lorem ipsum dolor sit amet.
  			</h3>

  			<ul class="pagination">
  				<li>
  					<a href="#">Prev</a>
  				</li>
  				<li>
  					<a href="#">1</a>
  				</li>
  				<li>
  					<a href="#">2</a>
  				</li>
  				<li>
  					<a href="#">3</a>
  				</li>
  				<li>
  					<a href="#">4</a>
  				</li>
  				<li>
  					<a href="#">5</a>
  				</li>
  				<li>
  					<a href="#">Next</a>
  				</li>
  			</ul>
  		</div>
  		<div class="col-md-4">
  			<div class="btn-group btn-group-vertical btn-group-lg">

  				<button class="btn btn-default" type="button">
  					<em class="glyphicon glyphicon-align-left"></em> Left
  				</button>
  				<button class="btn btn-default" type="button">
  					<em class="glyphicon glyphicon-align-center"></em> Center
  				</button>
  				<button class="btn btn-default" type="button">
  					<em class="glyphicon glyphicon-align-right"></em> Right
  				</button>
  				<button class="btn btn-default" type="button">
  					<em class="glyphicon glyphicon-align-justify"></em> Justify
  				</button>
  			</div>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-12">
  		</div>
  	</div>
  </div>

</body>
</html>
